apiVersion: v1
kind: Namespace
metadata:
  name: gpu-pod
---
apiVersion: v1
kind: Pod
metadata:
  name: gpu-pod
  namespace: gpu-pod
spec:
  restartPolicy: Never
  containers:
    - name: cuda-container
      image: nvcr.io/nvidia/k8s/cuda-sample:vectoradd-cuda12.5.0
      resources:
        limits:
          # Requesting 1 non-existent GPU triggers infinite Pending status
          nvidia.com/gpu: "1"
  tolerations:
    - key: nvidia.com/gpu
      operator: Exists
      effect: NoSchedule
